/* Common styles  */

:root {
  --gap: 10px;
  --padding: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Styles for flex  */

.container-flex {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  gap: var(--gap);
}

[class^='block-'] {
  display: flex;
  flex-direction: row;
  gap: var(--gap);

  height: calc(100vh - var(--gap) * 2 - var(--padding) * 2 / 3);
}

[class^='box-'] {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 4px solid black;
  text-transform: uppercase;
  font-size: 2rem;
}

.box-1,
.box-2,
.box-5 {
  flex-basis: 100%;
}

.box-3 {
  flex-basis: 70%;
}

.box-4 {
  flex-basis: 30%;
}

/* Styles for grid  */

.container-grid {
  display: grid;
  grid-template-areas:
    'header header header'
    'navigation navigation navigation'
    'content content sidebar'
    'footer footer footer';
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap);
  padding: var(--padding);
}

.header,
.footer,
.content,
.navigation,
.sidebar {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;

  border: 4px solid black;
  text-transform: uppercase;
  font-size: 2rem;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.content {
  grid-area: content;
}

.navigation {
  grid-area: navigation;
}

.sidebar {
  grid-area: sidebar;
}
